{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}
{% block header %}Mon profil{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ user.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Date_register</th>
                <td>{{ user.dateRegister ? user.dateRegister|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Last_connexion</th>
                <td>{{ user.lastConnexion ? user.lastConnexion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('upgrade_user', {'email': user.email, 'role': "ROLE_ADMIN"}) }}">Upgrade to admin</a>
	{% if app.user.email == user.email %}
        <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <a href="{{ path('user_index') }}" class="btn btn-outline-dark">Retour à la liste</a>
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-outline-primary">Modifier mon profil</a>
            <a href="{{ path('password_change') }}" class="btn btn-outline-primary">Changer mon mot de passe</a>
        </div>
	{% endif %}
    <br><br>
    {{ include('administration/user/_delete_form.html.twig') }}
{% endblock %}
