{{ form_start(form) }}
    {{ form_label(form.team) }}
    {{ form_widget(form.team) }}
    {{ form_label(form.timeStart) }}
    {{ form_widget(form.timeStart) }}
    {{ form_label(form.timeEnd) }}
    {{ form_widget(form.timeEnd) }}
    <button class="btn btn-outline-primary">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
