{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des entraînements{% endblock %}
{% block header %}Liste des entrainements{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Équipe concernée</th>
                <th>Début</th>
                <th>Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
                <td>{{ training.team.name }}</td>
                <td>{{ training.timeStart|date('H:i') }}</td>
                <td>{{ training.timeEnd|date('H:i') }}</td>
                <td>
                    <a href="{{ path('training_show', {'id': training.id}) }}" class="btn btn-outline-info"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('training_edit', {'id': training.id}) }}" class="btn btn-outline-primary"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('training_new') }}" class="btn btn-outline-primary">Ajouter un entraînement</a>
{% endblock %}
