{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article.slug }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ article.summary }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content|raw }}</td>
            </tr>
			{% if article.image is not null %}
                <tr>
                    <th>Image</th>
                    <td><img src="{{ asset('uploads/articles/' ~ article.image) }}" alt="" height="300"></td>
                </tr>
			{% endif %}
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('administration/article/_delete_form.html.twig') }}
{% endblock %}
