{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des articles{% endblock %}
{% block header %}Article {{ article.id }} - {{ article.title }}{% endblock %}

{% block body %}
    <table class="table table-bordered table-responsive-sm">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ article.dateCreation ? article.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ article.summary|raw }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.content|raw }}</td>
            </tr>
			{% if article.image is not null %}
                <tr>
                    <th>Image</th>
                    <td><img src="{{ asset('uploads/articles/' ~ article.image) }}" alt="" height="300"></td>
                </tr>
			{% endif %}
        </tbody>
    </table>

    <h2>Commentaires liés</h2>

    <table class="table table-bordered table-responsive-sm">
        <thead>
        <tr>
            <th>NOM</th>
            <th>Prénom</th>
            <th>Date publication</th>
            <th>Contenu</th>
        </tr>
        </thead>
        <tbody>
		{% for c in article.comments %}
            <tr>
                <td>{{ c.author.lastname|capitalize }}</td>
                <td>{{ c.author.firstname|upper }}</td>
                <td>{{ c.datePublication|date('d/m/Y H:i:s') }}</td>
                <td>{{ c.content }}</td>
            </tr>
		{% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_index') }}" class="btn btn-outline-dark">Retour à la liste</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-outline-primary">Modifier</a>

    {{ include('administration/article/_delete_form.html.twig') }}
{% endblock %}
