{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des convocations{% endblock %}
{% block header %}Gérer les convocations{% endblock %}

{% block body %}

    <table class="table table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Rencontres</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in meetings %}
            <tr>
                <td>{{ meeting.id }}</td>
                <td>{{ meeting.meetingDate }}</td>
                <td>{{ meeting.games|length }}</td>
                <td>
                    <a href="{{ path('meeting_show', {'id': meeting.id}) }}" class="btn btn-outline-info"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('meeting_edit', {'id': meeting.id}) }}" class="btn btn-outline-warning"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('meeting_new') }}" class="btn btn-outline-primary">Create new</a>
{% endblock %}
