{{ form_start(form, {'attr': {'action': path('add_image_on_gallery')}}) }}
    {{ form_row(form.filename) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
<input type="hidden" name="add_image_on_gallery_id" value="">
<button type="submit" name="add_image_submit">Ajouter une image</button>
{{ form_end(form) }}