{{ form_start(form) }}
    {{ form_row(form.team) }}
    {{ form_row(form.opponent) }}
    {{ form_row(form.location) }}
    {{ form_row(form.appointmentDate) }}
    {{ form_row(form.appointmentLocation) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
