{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Game date</th>
                <th>Location</th>
                <th>Opponent</th>
                <th>Winner</th>
                <th>Looser</th>
                <th>Winner_score</th>
                <th>Looser_score</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.matchDate ? game.matchDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ game.location }}</td>
                <td>{{ game.opponent }}</td>
                <td>{{ game.winner }}</td>
                <td>{{ game.looser }}</td>
                <td>{{ game.winnerScore }}</td>
                <td>{{ game.looserScore }}</td>
                <td>
                    <a href="{{ path('game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>
					{% if game.winner == null %}
                        <a href="{{ path('game_validate', {'id': game.id}) }}">validate</a>
					{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('game_new') }}">Create new</a>
{% endblock %}
