{% extends "base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/home_css.css') }}">
{% endblock %}
{% block body %}
	{% if slides is defined and slides|length != 0 %}
		{% include "default/home/_slider.html.twig" %}
	{% endif %}
	{% if last_meeting is defined and last_meeting is not null %}
		{% set games = last_meeting.games %}
		<div class="page__header">
			<h2>Resultats des matchs du {{ last_meeting.meetingDate }}</h2>
		</div>
		<section class="container">
			<div class="last__results flex_row">
				{% include "default/home/_result_table.html.twig" %}
			</div>
		</section>
	{% endif %}
	{% if games is defined and games is not null %}
		<div class="page__header">
			<h2>Prochains matchs</h2>
		</div>
		<section class="flex_row container home__next__matchs">
			{% set games = next_meeting.games %}
			{% include "default/home/_next_matchs.html.twig" %}
		</section>
	{% endif %}
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('build/home_js.js') }}"></script>
	<script>
		console.log("{{ next_meeting.meetingDate }}");
		let targetDate = new Date("{{ next_meeting.meetingDate }}");
		console.log(targetDate);
        let now = new Date();
		let count = setInterval(function () {
			let distance = targetDate - now;
            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);
            /*console.log(days);
            console.log(hours);
            console.log(minutes);
            console.log(seconds);*/
            $(".timer__days").innerText = days;
        }, 1000);
	</script>
{% endblock %}