{{ form_start(form) }}
{% if slide is defined %}
	{{ form_row(form.name, {'attr': {'value': slide.name}}) }}
    <img src="{{ asset('uploads/slides/' ~ slide.image) }}" alt="" height="300">
{% else %}
    {{ form_row(form.name) }}
    {{ form_row(form.image) }}
{% endif %}
    <button class="btn btn-outline-primary">{{ button_label|default('Valider l\'ajout') }}</button>
{{ form_end(form) }}
