{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des slides{% endblock %}
{% block header %}Liste des slides{% endblock %}

{% block body %}
    <table class="table table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slide in slides %}
            <tr>
                <td>{{ slide.id }}</td>
                <td>{{ slide.name }}</td>
                <td>{{ slide.slug }}</td>
                <td>{{ slide.image }}</td>
                <td>
                    <a href="{{ path('slide_show', {'id': slide.id}) }}">show</a>
                    <a href="{{ path('slide_edit', {'id': slide.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('slide_new') }}">Create new</a>
{% endblock %}
