{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des joueurs{% endblock %}
{% block header %}Liste des joueurs{% endblock %}

{% block body %}
    <a href="{{ path('player_new') }}" class="btn btn-outline-primary">Ajouter un joueur</a>
    <br>
    <br>
    <table class="table table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Fullname</th>
                <th>Position</th>
                <th>Equipe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.firstname }}</td>
                <td>{{ player.lastname }}</td>
                <td>{{ player.fullname }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.team.name }}</td>
                <td>
                    <div class="btn-group btn-group-lg" role="group" aria-label="">
                        <a href="{{ path('player_show', {'id': player.id}) }}" class="btn btn-outline-info"><i class="fa fa-eye"></i></a>
                        <a href="{{ path('player_edit', {'id': player.id}) }}" class="btn btn-outline-primary"><i class="fa fa-edit"></i></a>
                    </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
