{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des joueurs{% endblock %}
{% block header %}Joueur {{ player.fullname }}{% endblock %}

{% block body %}
    <table class="table table-responsive-sm table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ player.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ player.lastname }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ player.fullname }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ player.position }}</td>
            </tr>
			{% if player.image %}
                <tr>
                    <th>Avatar</th>
                    <td><img src="{{ asset("uploads/players/" ~ player.image) }}" alt=""></td>
                </tr>
			{% else %}
                <a href="">Ajouter une photo de profil</a>
			{% endif %}
        </tbody>
    </table>

    <a href="{{ path('player_index') }}">back to list</a>

    <a href="{{ path('player_edit', {'id': player.id}) }}">edit</a>

    {{ include('administration/player/_delete_form.html.twig') }}
{% endblock %}
