{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des joueurs{% endblock %}
{% block header %}Joueur {{ player.fullname }}{% endblock %}

{% block body %}
    <table class="table table-responsive-sm table-bordered">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ player.firstname }}</td>
            </tr>
            <tr>
                <th>NOM</th>
                <td>{{ player.lastname }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ player.position }}</td>
            </tr>
			{% if player.image %}
                <tr>
                    <th>Avatar</th>
                    <td><img src="{{ asset("uploads/players/" ~ player.image) }}" alt=""></td>
                </tr>
			{% else %}
                <a href="{{ path('player_edit', {'id': player.id}) }}" class="btn btn-outline-info">Ajouter une photo de profil</a>
			{% endif %}
        </tbody>
    </table>
    <div class="btn-group btn-group-lg" role="group" aria-label="">
        <a href="{{ path('player_index') }}" class="btn btn-outline-dark">Retour à la liste</a>
        <a href="{{ path('player_edit', {'id': player.id}) }}" class="btn btn-outline-primary">Modifier</a>
    </div>
    <br>
    <br>

    {{ include('administration/player/_delete_form.html.twig') }}
{% endblock %}
