{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des messages{% endblock %}
{% block header %}Message{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nom du destinataire</th>
                <td>{{ message.name }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ message.email }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ message.subject }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ message.message }}</td>
            </tr>
            <tr>
                <th>Date d'envoi</th>
                <td>{{ message.dateSent ? message.dateSent|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Réponses</h2>

	{% for m in message.answers %}
        <div id="accordion_{{ m.id }}">
            <div class="card">
                <div class="card-header" id="heading_{{ m.id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{ m.id }}" aria-expanded="true" aria-controls="collapse_{{ m.id }}">
                            {{ m.name|upper }} - le {{ m.dateSent|date('d/m/Y H:i') }}
                        </button>
                    </h5>
                </div>

                <div id="collapse_{{ m.id }}" class="collapse show" aria-labelledby="heading_{{ m.id }}" data-parent="#accordion_{{ m.id }}">
                    <div class="card-body">
                        {{ m.message }}
                    </div>
                </div>
            </div>
        </div>
	{% endfor %}

    <a href="{{ path('message_index') }}" class="btn btn-outline-dark">Retour à la liste</a>

    <a href="{{ path('message_answer', {'id': message.id}) }}" class="btn btn-outline-primary">Répondre</a>
    <br>
    <br>

    {{ include('administration/message/_delete_form.html.twig') }}
{% endblock %}
