{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des commentaires{% endblock %}
{% block header %}Gérer les commentaires{% endblock %}

{% block body %}
    <table class="table table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th>NOM</th>
                <th>E-mail</th>
                <th>Date du commentaire</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.name }}</td>
                <td>{{ comment.email }}</td>
                <td>{{ comment.datePublication ? comment.datePublication|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.content }}</td>
                <td>
                    <a href="{{ path('comment_show', {'id': comment.id}) }}" class="btn btn-outline-info"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}" class="btn btn-outline-primary"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun commentaire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
