{% extends 'administration/admin.html.twig' %}

{% block title %}Gestion des commentaires{% endblock %}
{% block header %}Commentaire de {{ comment.name }}{% endblock %}

{% block body %}
    <table class="table table-responsive-sm table-bordered">
        <tbody>
            <tr>
                <th>NOM</th>
                <td>{{ comment.name }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ comment.email }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ comment.datePublication ? comment.datePublication|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ comment.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comment_index') }}" class="btn btn-outline-dark">Retour à la liste</a>

    <a href="{{ path('comment_edit', {'id': comment.id}) }}" class="btn btn-outline-primary">Modérer</a>

    {{ include('administration/comment/_delete_form.html.twig') }}
{% endblock %}
