<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	{% for message in app.session.flashbag.get('error') %}
        {{ message }}
	{% endfor %}
	{% for message in app.session.flashbag.get('success') %}
        {{ message }}
	{% endfor %}
    <nav>
        <a href="{{ path('index') }}">Accueil</a>
		{% if is_granted('ROLE_USER') %}
            <a href="{{ path('game_index') }}">Les matchs</a>
            <a href="{{ path('team_index') }}">Les équipes</a>
            <a href="{{ path('user_index') }}">Les utilisateurs</a>
            <a href="{{ path('player_index') }}">Les joueurs</a>
            <a href="{{ path('image_index') }}">Les images</a>
            <a href="{{ path('gallery_index') }}">Les galeries</a>
            <a href="{{ path('slide_index') }}">Les slides</a>
            <a href="{{ path('training_index') }}">Les entraînements</a>
            <a href="{{ path('password_change') }}">Changer le mot de passe</a>
            <a href="{{ path('logout') }}">Déconnexion</a>
		{% elseif is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}">Admin</a>
		{% else %}
            <a href="{{ path('register') }}">Inscription</a>
            <a href="{{ path('login') }}">Connexion</a>
            <a href="{{ path('ask_for_password_reinitialisation') }}">Réinitialiser mon mot de passe</a>
		{% endif %}
    </nav>
        {% block body %}{% endblock %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
