<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Association de Handball Forges-les-Eaux - Administration {% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="all,follow">
	<!-- Bootstrap CSS-->
	<link rel="stylesheet" href="{{ asset('admin/vendor/bootstrap/css/bootstrap.min.css') }}">
	<!-- Font Awesome CSS-->
	<link rel="stylesheet" href="{{ asset('admin/vendor/font-awesome/css/font-awesome.min.css') }}">
	<!-- Fontastic Custom icon font-->
	<link rel="stylesheet" href="{{ asset('admin/css/fontastic.css') }}">
	<!-- Google fonts - Poppins -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
	<!-- theme stylesheet-->
	<link rel="stylesheet" href="{{ asset('admin/css/style.default.css') }}" id="theme-stylesheet">
	<!-- Custom stylesheet - for your changes-->
	<link rel="stylesheet" href="{{ asset('admin/css/custom.css') }}">
	{% block stylesheets %}{% endblock %}
	<!-- Favicon-->
	<link rel="shortcut icon" href="{{ asset('admin/img/favicon.ico') }}">
	<!-- Tweaks for older IEs--><!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div class="page">
	<!-- Main Navbar-->
	<header class="header">
		<nav class="navbar">
			<!-- Search Box-->
			<div class="search-box">
				<button class="dismiss"><i class="icon-close"></i></button>
				<form id="searchForm" action="#" role="search">
					<input type="search" placeholder="What are you looking for..." class="form-control">
				</form>
			</div>
			<div class="container-fluid">
				<div class="navbar-holder d-flex align-items-center justify-content-between">
					<!-- Navbar Header-->
					<div class="navbar-header">
						<!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
							<div class="brand-text d-none d-lg-inline-block"><span>FLE </span><strong>Handball</strong></div>
							<div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div></a>
						<!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
					</div>
					<!-- Navbar Menu -->
					<ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
						<!-- Search-->
						<li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
						<!-- Notifications-->
						<li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell-o"></i><span class="badge bg-red badge-corner">12</span></a>
							<ul aria-labelledby="notifications" class="dropdown-menu">
								<li><a rel="nofollow" href="#" class="dropdown-item">
										<div class="notification">
											<div class="notification-content"><i class="fa fa-envelope bg-green"></i>You have 6 new messages </div>
											<div class="notification-time"><small>4 minutes ago</small></div>
										</div></a></li>
								<li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>view all notifications                                            </strong></a></li>
							</ul>
						</li>
						<!-- Messages                        -->
						<li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope-o"></i><span class="badge bg-orange badge-corner">10</span></a>
							<ul aria-labelledby="notifications" class="dropdown-menu">
								<li><a rel="nofollow" href="#" class="dropdown-item d-flex">
										<div class="msg-profile"> <img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
										<div class="msg-body">
											<h3 class="h5">Jason Doe</h3><span>Sent You Message</span>
										</div></a></li>
								<li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>Read all messages   </strong></a></li>
							</ul>
						</li>
						<!-- Logout    -->
						<li class="nav-item"><a href="{{ path('logout') }}" class="nav-link logout"> <span class="d-none d-sm-inline">Logout</span><i class="fa fa-sign-out"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="page-content d-flex align-items-stretch">
		<!-- Side Navbar -->
		<nav class="side-navbar">
			<!-- Sidebar Header-->
			<div class="sidebar-header d-flex align-items-center">
				<div class="avatar"><img src="{{ asset('admin/img/avatar-1.jpg') }}" alt="..." class="img-fluid rounded-circle"></div>
				<div class="title">
					<h1 class="h4">Mark Stephen</h1>
					<p>Web Designer</p>
				</div>
			</div>
			<!-- Sidebar Navidation Menus--><span class="heading">Main</span>
			<ul class="list-unstyled">
				<li class="active"><a href="{{ path('administration') }}"> <i class="icon-home"></i>Home </a></li>
				<li><a href="{{ path('meeting_index') }}"> <i class="fa fa-calendar"></i>Les convocations</a></li>
				<li><a href="{{ path('team_index') }}"> <i class="fa fa-users"></i>Les équipes </a></li>
				<li><a href="{{ path('player_index') }}"> <i class="fa fa-users"></i>Les joueurs </a></li>
				<li><a href="{{ path('gallery_index') }}"> <i class="fa fa-file-image-o"></i>Les albums </a></li>
				<li><a href="{{ path('slide_index') }}"> <i class="fa fa-bar-chart"></i>Les slides </a></li>
				<li><a href="{{ path('training_index') }}"> <i class="fa fa-bar-chart"></i>Les entraînements </a></li>
				<li><a href="{{ path('article_index') }}"> <i class="fa fa-map-pin"></i>Les articles </a></li>
				<li><a href="{{ path('message_index') }}"> <i class="fa fa-envelope"></i>La messagerie </a></li>
				<li><a href="{{ path('user_index') }}"> <i class="fa fa-user"></i>Les utilisateurs </a></li>
				<li><a href="{{ path('index') }}" target="_blank"> <i class="fa fa-eye"></i>Voir le site </a></li>
			</ul>
		</nav>
		<div class="content-inner">
			<!-- Page Header-->
			<header class="page-header">
				<div class="container-fluid">
					<h2 class="no-margin-bottom">{% block header %}{% endblock %}</h2>
				</div>
			</header>
			<!-- Dashboard Counts Section-->
			<section class="dashboard-counts no-padding-bottom">
				{% if app.session.flashbag %}
					<div class="container-fluid">
						{% for message in app.session.flashbag.get('error') %}
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<strong>Attention erreur :</strong> {{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
						{% for message in app.session.flashbag.get('success') %}
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>Quel succès !</strong> {{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					</div>
				{% endif %}
				<div class="container-fluid">
					{% block body %}
					{% endblock %}
				</div>
			</section>
		</div>
	</div>
</div>

<!-- JavaScript files-->
<script src="{{ asset('admin/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('admin/vendor/popper.js/umd/popper.min.js') }}"> </script>
<script src="{{ asset('admin/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('admin/vendor/jquery.cookie/jquery.cookie.js') }}"> </script>
{#<script src="{{ asset('admin/vendor/chart.js/Chart.min.js') }}"></script>#}
<script src="{{ asset('admin/vendor/jquery-validation/jquery.validate.min.js') }}"></script>
{#<script src="{{ asset('admin/js/charts-home.js') }}"></script>#}
<!-- Main File-->
<script src="{{ asset('admin/js/front.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>