{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    <h1>Gallery</h1>

    <h2>Ajouter une image</h2>
    <form action="{{ path('add_image_on_gallery', {'galery': galery.id}) }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file_input" id="file_input">
        <button type="submit" name="file_input_submit">Upload file</button>
    </form>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ galery.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ galery.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ galery.slug }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ galery.dateCreation ? galery.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>
					{% for i in galery.images %}
                        <img src="{{ asset('uploads/gallery/' ~ i.filename ~ "." ~ i.extension) }}" alt="{{ i.alt }}" height="100">
                        <a href="{{ path('delete_image_form_gallery', {'galery': galery.id, 'image': i.id}) }}">Supprimer</a>
					{% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('galery_index') }}">back to list</a>

    <a href="{{ path('galery_edit', {'id': galery.id}) }}">edit</a>

    {{ include('galery/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            console.log('ready');
            var file_input = $("#file_input");
            //var size_input = $("#image_size");
            //var type_input = $("#image_mimeType");
            file_input.change(function (e) {
                var image = file_input[0].files[0];
                console.log(image);
                //size_input.value = image.size;
                //type_input.value = image.type;
            });
        });
    </script>
{% endblock %}